<header class="ash-cms-demo-header">
  <nav>
    <a href="/" class="ash-cms-demo-logo">AshCms Demo</a>
    <div class="ash-cms-demo-nav-links">
      <a href="/cms">CMS Admin</a>
    </div>
  </nav>
</header>

<main class="ash-cms-demo-main">
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
